<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find asv_navigation)/global_map_config.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find asv_navigation)/local_map_config.yaml" command="load" ns="local_costmap" />

    <!--<rosparam file="$(find asv_navigation)/local_planner.yaml" command="load" />-->
    <rosparam file="$(find asv_navigation)/move_base.yaml" command="load" />
  </node>

</launch>